body{
margin:0;
background:#0e1621;
font-family:Arial;
color:white;
height:100vh;
}

#login{
width:300px;
margin:200px auto;
display:flex;
flex-direction:column;
gap:10px;
}

input,button{
padding:12px;
border:none;
border-radius:8px;
}

button{
background:#2aabee;
color:white;
cursor:pointer;
}

#app{
display:flex;
height:100vh;
}

#users{
width:280px;
background:#17212b;
overflow:auto;
}

.user{
padding:15px;
cursor:pointer;
border-bottom:1px solid #111;
}

.user:hover{
background:#1f2c3a;
}

#chat{
flex:1;
display:flex;
flex-direction:column;
}

#messages{
flex:1;
padding:15px;
overflow:auto;
}

.msg{
background:#182533;
padding:10px;
margin:5px;
border-radius:8px;
max-width:60%;
}

.me{
background:#2b5278;
margin-left:auto;
}

#send{
display:flex;
padding:10px;
background:#17212b;
}

#text{
flex:1;
background:#0e1621;
color:white;
}
