body{
margin:0;
background:#0e1621;
font-family:Arial;
height:100vh;
color:white;
display:flex;
justify-content:center;
align-items:center;
}

#auth{
width:320px;
display:flex;
flex-direction:column;
gap:10px;
}

input,button{
padding:12px;
border:none;
border-radius:8px;
}

button{
background:#2aabee;
color:white;
cursor:pointer;
}

#error{color:#ff6666}
