body{
margin:0;
background:#0f1115;
color:white;
font-family:Arial;
}

input,button{
padding:10px;
border:none;
border-radius:6px;
}

button{background:#2b5278;color:white}

#login{
width:300px;
margin:150px auto;
display:flex;
flex-direction:column;
gap:10px;
}

#app{
display:flex;
height:100vh;
}

.sidebar{
width:280px;
background:#181c24;
padding:10px;
overflow:auto;
}

.chat{
flex:1;
display:flex;
flex-direction:column;
}

#messages{
flex:1;
padding:15px;
overflow:auto;
}

.msg{margin:6px}
.me{text-align:right}

.send{
display:flex;
gap:5px;
padding:10px;
background:#181c24;
}

.user{
padding:6px;
border-bottom:1px solid #222;
cursor:pointer;
}
