body{
margin:0;
background:#0e0f13;
color:white;
font-family:Arial;
}

#login{
width:300px;
margin:150px auto;
display:flex;
flex-direction:column;
gap:10px;
}

input,button{
padding:10px;
border:none;
border-radius:6px;
}

button{background:#2b5278;color:white}

.vk{
display:flex;
height:100vh;
}

.left{
width:260px;
background:#181b22;
padding:10px;
overflow:auto;
}

.profile{
font-weight:bold;
margin-bottom:10px;
}

.center{
flex:1;
display:flex;
flex-direction:column;
}

.chat-header{
padding:12px;
background:#1c1f26;
border-bottom:1px solid #222;
}

#messages{
flex:1;
padding:15px;
overflow:auto;
}

.msg{
margin:6px 0;
}

.me{text-align:right}

.send{
display:flex;
gap:5px;
padding:10px;
background:#181b22;
}

.user{
padding:6px;
border-bottom:1px solid #222;
cursor:pointer;
}
