body{
margin:0;
background:#0f0f0f;
color:white;
font-family:sans-serif;
}

#login{
text-align:center;
margin-top:200px;
}

input,button{
padding:10px;
margin:5px;
}

#app{
display:flex;
height:100vh;
}

#users{
width:200px;
border-right:1px solid #333;
padding:10px;
}

#chat{
flex:1;
display:flex;
flex-direction:column;
}

#messages{
flex:1;
overflow:auto;
padding:10px;
}
