body{
margin:0;
background:#0e1621;
font-family:Arial;
display:flex;
justify-content:center;
align-items:center;
height:100vh;
color:white;
}

#auth{
width:320px;
display:flex;
flex-direction:column;
gap:12px;
}

input,button{
padding:14px;
border:none;
border-radius:8px;
font-size:15px;
}

button{
background:#2aabee;
color:white;
cursor:pointer;
}

#error{
color:#ff6666;
font-size:13px;
height:16px;
}
