body{
margin:0;
background:#0b1218;
color:white;
font-family:Arial;
}

input,button{
padding:10px;
border:none;
border-radius:6px;
}

button{background:#2b5278;color:white}

#auth{
width:300px;
margin:120px auto;
display:flex;
flex-direction:column;
gap:10px;
}

.panel{display:flex;height:100vh}

.left{
width:260px;
background:#17212b;
padding:10px;
}

.chat{
flex:1;
display:flex;
flex-direction:column;
}

.user{padding:6px;border-bottom:1px solid #222;cursor:pointer}

.messages{
flex:1;
padding:15px;
overflow:auto;
}

.msg{margin:6px 0}
.me{text-align:right}

.send{
display:flex;
gap:5px;
padding:10px;
background:#17212b;
}
